# Created by .ignore support plugin (hsz.mobi)
### JetBrains template

.idea/

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
